{% load static %}

    <!-- blog section -->
    <section class="section" id="blog">
        <!-- container -->
        <div class="container text-center">
            <p class="section-subtitle">Recent Posts?</p>
            <h6 class="section-title mb-6">Blog</h6>

            <!-- blog-wrapper -->
            <div class="blog-card">
                <div class="blog-card-header">
                    <img src=" {% static 'assets/imgs/img-1.jpg' %} " class="blog-card-img">
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">About My Legato Music School</h6>

                        <p class="blog-card-caption">
                            <a href="#">By: Admin</a>
                            <a href="#"><i class="ti-heart text-danger"></i> 234</a>
                            <a href="#"><i class="ti-comment"></i> 123</a>
                        </p>
                        <p> Since my childhood, I have dreamed that one day I would open a music school where people of all ages 
                            would come and learn music. In January 2021, my dream was fulfilled, but Corona just finished everything. 
                            Both music production and learning school were in the same location. Some of my production unit work is available on YouTube.
                            On those days, too much lookdown took me off, which attacked my dream project. After 10 months of struggling, 
                            I had to put down my project. There were many financial problems and other stuff there. </p>
                            <p><b>More about my cinematography, photography and my camera-related blog will come, 
                                and those sections are under construction.</b>
                            </p>

                        {% comment %} <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a> {% endcomment %}
                </div>
            </div><!-- end of blog wrapper -->

            <!-- blog-wrapper -->
            <div class="blog-card">
                <div class="blog-card-header">
                    <img src=" {% static 'assets/imgs/img-2.jpg' %}" class="blog-card-img">
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">Why Computer Science? </h6>

                        <p class="blog-card-caption">
                            <a href="#">By: Admin</a>
                            <a href="#"><i class="ti-heart text-danger"></i> 456</a>
                            <a href="#"><i class="ti-comment"></i> 264</a>
                        </p>

                        <p>From my school life on, I was always the best at algebra and math. 
                            I met two of my best teachers in school and college. Both are experts in math. 
                            So I don't feel any fear of doing math. In the tech field, I'm always crazy about 
                            learning and getting to know new features. After I failed to admit myself to any 
                            public university after completing my college life, me and my family decided to 
                            join Premier University for Computer Science. Now I'm a graduate student from there 
                            and trying to get a job.</p>
                            <p><b>More about working on Python and Django-related blog will come, 
                                and those sections are under construction.</b>
                            </p>
                        {% comment %} <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a> {% endcomment %}
                </div>
            </div><!-- end of blog wrapper -->

        </div><!-- end of container -->
    </section>
    <!-- end of blog section -->