 {% load static %}
 
 <!-- footer -->
 <div class="container">
    <footer class="footer">
        <p class="mb-0">Copyright
            <script>document.write(new Date().getFullYear())</script> &copy; <a
                href="http://www.anannobarua.com">ANANNO</a> BARUA <a
                href="https://anannobarua.com"></a>
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="https://www.facebook.com/Anannobarua" class="link"><i class="ti-facebook"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
            {% comment %} <a href="anannobarua@gmail.com" class="link"><i class="ti-google"></i></a> {% endcomment %}
            {% comment %} <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a> {% endcomment %}
            <a href="https://www.instagram.com/anannoscloud/" class="link"><i class="ti-instagram"></i></a>
            <a href="https://stackoverflow.com/users/14756632/ananno-barua)" class="link"><i class="ti-rss"></i></a>
        </div>
    </footer>
</div> <!-- end of page footer -->

<!-- core  -->
<script src=" {% static 'assets/vendors/jquery/jquery-3.4.1.js' %} "></script>
<script src=" {% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %} "></script>

<!-- bootstrap 3 affix -->
<script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %} "></script>

<!-- Meyawo js -->
<script src=" {% static 'assets/js/meyawo.js' %} "></script>

</body>

</html>
