{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Ananno Barua</title>
    <!-- font icons -->
    <link rel="stylesheet" href= "{% static 'assets/vendors/themify-icons/css/themify-icons.css'%}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href=" {% static 'assets/css/meyawo.css' %} ">
    <link rel="icon" href= "{% static 'assets/imgs/my_logo.png' %}" > 
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="">Ananno</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Portfolio</a>
                </li>
                {% comment %} <li class="item">
                    <a class="link" href="#testmonial">Testmonial</a>
                </li> {% endcomment %}
                <li class="item">
                    <a class="link" href="#blog">Blog</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
                {% comment %} <li class="item ml-md-3">
                    <a href="components.html" class="btn btn-primary">Components</a>
                </li> {% endcomment %}
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav>
    <!-- End of Page Navbar -->