{% load static %}
<!-- page header -->
{% comment %} <header id="home" class="header"> {% endcomment %}
    {% comment %} <div class="overlay"></div> {% endcomment %}
    {% comment %} <div class="header-content container"> {% endcomment %}
        {% comment %} <h1 class="header-title"></h1> {% endcomment %}

        <!-- Add the link to your portfolio page in the href attribute -->
        {% comment %} <a href="#portfolio" class="btn btn-primary link">Visit My Works</a> {% endcomment %}
        {% comment %} <h2> Under Constraction </h1> {% endcomment %}
    {% comment %} </div> {% endcomment %}
{% comment %} </header> {% endcomment %}
<!-- end of page header -->
