{% load static %}

{% include 'includes/header_2.html' %}

<!-- blog section -->
<section class="section" id="blog">
    <!-- container -->
    <div class="container text-center">
        <p class="section-subtitle">Recent Posts</p>
        <h6 class="section-title mb-6">Blog</h6>
        <h6 class="section-title mb-6">Under Civilization </h6>
        {% for file in blog_data %}
        <!-- blog-wrapper -->
        <div class="blog-card">
            
            <div class="blog-card-item">
                <div class="blog-card-header">
                    <img src="{{ file.file.url }}" class="blog-card-img" alt="{{ file.title }}">
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">{{ file.title }}</h5>

                    <p class="blog-card-caption">
                        <a href="#">By: Admin</a>
                        <a href="#"><i class="ti-heart text-danger"></i> 456</a>
                        <a href="#"><i class="ti-comment"></i> 264</a>
                    </p>

                    <p>{{ file.description | truncatewords:40 | safe }}</p>

                    <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div>
            
        </div><!-- end of blog wrapper -->
        {% endfor %}
    </div><!-- end of container -->
</section>
<!-- end of blog section -->

{% include 'includes/footer.html' %}
